# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_KC_LEFT

config ZMK_KEYBOARD_NAME
    default "Scylla"

config CONFIG_ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_KC_RIGHT

config ZMK_KEYBOARD_NAME
    default "Scylla Right"

endif

if SHIELD_KC_LEFT || SHIELD_KC_RIGHT

CONFIG_BT=y
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y 
CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_BLE=y
CONFIG_ZMK_SPLIT_BLE=y

config ZMK_SPLIT
    default y

endif