# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_kcustom_seat_LEFT

config ZMK_KEYBOARD_NAME
    default "KCustom Seat"

config ZMK_SPLIT_ROLE_CENTRAL
    default y


endif

if SHIELD_kcustom_seat_RIGHT

config ZMK_KEYBOARD_NAME
    default "KCustom Seat Right"

endif

if SHIELD_kcustom_seat_LEFT || SHIELD_kcustom_seat_RIGHT

config ZMK_SPLIT
    default y

endif