/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

 #include "kcustom_seat_right.dtsi"
 #include <dt-bindings/zmk/matrix_transform.h>

 &default_transform {
	col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro_kc 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro_kc 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro_kc 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro_kc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro_kc 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro_kc 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    row-gpios
        = <&pro_micro_kc 9  GPIO_ACTIVE_HIGH>
        , <&pro_micro_kc 8  GPIO_ACTIVE_HIGH>
        , <&pro_micro_kc 7  GPIO_ACTIVE_HIGH>
        , <&pro_micro_kc 6  GPIO_ACTIVE_HIGH>
        , <&pro_micro_kc 5  GPIO_ACTIVE_HIGH>
        ;
};

/ {
	pd0: virtual_input_0 {
		compatible = "zmk,virtual-input";
	};
	pd1: virtual_input_1 {
		compatible = "zmk,virtual-input";
	};
	tball0: virtual_input_tb_1 {
		compatible = "zmk,virtual-input";
	};
	tpoint0: virtual_input_tp {
		compatible = "zmk,virtual-input";
	};
	tpad0: virtual_input_gp {
		compatible = "zmk,virtual-input";
	};
	input_relay_config_104 {
		compatible = "zmk,split-peripheral-input-relay";
		relay-channel = <104>;
		device = <&tball0>;
	};
};